# Игнорирование скомпилированных файлов Python
__pycache__/

# Игнорирование данных модели и бинарных файлов
*.bin
*.pkl
*.npy
*.pt

# Игнорирование файлов данных и результатов, которые генерируются в процессе работы
*.csv

# Игнорирование конфигурационных файлов для среды разработки
.vscode/
.idea/

# Игнорирование временных файлов и логов
*.log
*.tmp
*.swp

# Игнорирование файлов, связанных с браузером (например, chromedriver)
chromedriver

# Игнорирование Jupyter Notebook контрольных файлов
.ipynb_checkpoints/

# Исключение txt-файлов (кроме важных, как requirements.txt и stopwords-ru.txt)
*.txt
!requirements.txt
!stopwords-ru.txt

# Игнорирование служебных файлов MacOS
.DS_Store

# Игнорирование виртуального окружения Python
final/

# Игнорирование .env файла
.env
