# Игнорирование скомпилированных файлов Python
__pycache__/

# Игнорирование конфигурационных файлов для среды разработки
.vscode/
.idea/

# Игнорирование файлов, связанных с браузером (например, chromedriver)
chromedriver

# Игнорирование Jupyter Notebook контрольных файлов
.ipynb_checkpoints/

# Игнорирование служебных файлов MacOS
.DS_Store

# Игнорирование виртуального окружения Python
final/

# Игнорирование .env файла
.env
